<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ContactUs</title>
    <script src="" th:src="@{/jquery/jquery.min.js}"></script>
    <script src="" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <link href="" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="" th:href="@{/background/style.css}" type="text/css">
    <style>
        .nice{
            width: 700px;
            height: 50px;
            font-size: 25px;
        }
    </style>
</head>
<body>

<canvas style="z-index: -1;position: absolute;margin: 0 auto;display: block;"></canvas>

<nav class="nanbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" th:href="@{/home}" class="navbar-brand">FlightsBooker</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#" th:href="@{/home}">Home</a></li>
                <li><a href="#" th:href="@{/ViewFlights}">ViewFlights</a></li>
                <li><a href="#" th:href="@{/MyOrder}">MyOrder</a></li>
                <li class="active"><a href="#" th:href="@{/ContactUs}">ContactUs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <!--                    <li><a href="#">About</a></li>-->
                <!--                    <li><a href="#">Study</a></li>-->
                <!--                    <li><a href="#">Contact</a></li>-->
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" name="" class="form-control" placeholder="you can search content">
            </form>
        </div>
    </div>
</nav>

<br><br><br><br>

<div class="container bg-success" style="z-index: 3;width: 750px;">
    <div style="text-align: center">
        <h2>我的订单</h2>
    </div>


    <form class="form-vertical" th:action="@{/confirmPay}" method="post">
        <div class="nice">
            <div style="float: left">订单号：</div>
            <div style="float: right" th:text="${order.orderID}"></div>
            <input name="orderID" type="hidden" th:value="${order.orderID}">
        </div>
        <div class="nice">
            <div style="float: left">航班号：</div>
            <div style="float: right" th:text="${order.flightID}"></div>
            <input name="flightID" type="hidden" th:value="${order.flightID}" >
        </div>
        <div class="nice">
            <div style="float: left">航空公司：</div>
            <div style="float: right" th:text="${order.airline}"></div>
            <input name="receiver" type="hidden" th:value="${order.airline}">
        </div>
        <div class="nice">
            <div style="float: left">出发地：</div>
            <div style="float: right" th:text="${order.departurePlace}"></div>
        </div>
        <div class="nice">
            <div style="float: left">目的地：</div>
            <div style="float: right" th:text="${order.destination}"></div>
        </div>
        <div class="nice">
            <div style="float: left">出发时间：</div>
            <div style="float: right" th:text="${order.departureTime}"></div>
        </div>
        <div class="nice">
            <div style="float: left">到达时间：</div>
            <div style="float: right" th:text="${order.arrivalTime}"></div>
        </div>
        <div class="nice">
            <div style="float: left">乘机人：</div>
            <div style="float: right" th:text="${order.username}"></div>
            <input name="payer" type="hidden" th:value="${order.username}">
        </div>
        <div class="nice">
            <div style="float: left">联系方式：</div>
            <div style="float: right" th:text="${order.phone}"></div>
        </div>
        <div class="nice">
            <div style="float: left">下单时间：</div>
            <div style="float: right" th:text="${order.orderTime}"></div>
        </div>
        <div class="nice">
            <div style="float: left">----------------------------------------------------------------------------</div>
<!--            <div style="float: right" th:text=""></div>-->
        </div>
        <div class="nice">
            <div style="float: left">支付状态：</div>
            <div style="float: right;" th:text="${order.modeOfPayment}"></div>
        </div>
        <div class="nice">
            <div style="float: left">支付金额：</div>
            <div style="float: right" th:text="${order.price}"></div>
            <input name="price" type="hidden" th:value="${order.price}">
        </div>
        <div class="nice">
            <input type="submit" style="float: right;" class="btn btn-primary" value="Pay">
        </div>

    </form>

<!--    <button class="btn btn-primary" onclick=""></button>-->
</div>

<div>Hey!What's going on here?</div>

</body>

<script src="" th:src="@{/background/js/zrveeq.js}"></script>
<script src="" th:src="@{/background/js/index.js}"></script>

<script>

    function pay(){

    }

</script>

</html>